/* .container{
    max-width:400px;
    margin:10vh auto 0 auto;
    box-shadow:0px 0px 43px 17px rgba(153,153,153,1);
    
}
#display{
    text-align:right;
    height:70px;
    line-height:70px;
    padding:16px 8px;
    font-size:25px;
}
.buttons{
    display:grid;
    border-bottom:1px slid #999;
    border-left:1px solid #999;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.buttons>div{
    border-top:1px solid #999;
    border-right:1px solid #999;

}
.button{
    border:0.5px solid #999;
    line-height:100px;
    text-align:center;
    font-size:25px;
    cursor:pointer;
}
#equal{
    background-color: #5555ff;
    color:white;
}
.button:hover{
    background-color: #323330;
    color:white;
    transition:0.5s ease-in-out;
} */

*{
    margin:0px;
    padding:0px;
    outline:none;
    box-sizing:border-box;
}
body{
    font-family:montserrat;
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color: pink;
}
#center{
    width:350px;
    height:500px;
    background: blue;
    border-radius:1px;
    border:5px solid green;
}
input[type="text"]{
    height:60px;
    width:300px;
    margin-top:40px;
    border-radius:1px;
    border:1px solid white;
    color:black;
    font-size:22px;
    font-weight:bold;
    text-align:right;
    padding-right:20px;
    background-color: linear-gradient(#d1dce0,#dfe6e9);
}
#display{
    background-color: aliceblue;
    border:5px solid black;
}
form.buttons{
    width:300px;
    margin:10px 25px 0 25px;
    padding:10px 0;
}
input[type="button"]{
    width:58px;
    height:55px;
    margin:5px;
    font-size:22px;
    line-height:55px;
    border-radius:3px;
    border:1px solid #d9d9d9;
    background-color: aqua;

}
input[type="button"]:hover{
    transition: .5s;

}
#clear{
    width: 100px;
    margin-right: 200px;

}